*,*::before,*::after {
    box-sizing: border-box;
}
body {
    background-color: #d4f1f4;
    text-align: center;
}
#logo {
    max-width: 100%;
}
.heading {
    color: #00149a;
    font-family: Helvetica, sans-serif;
}
.subheading {
    color: #00149a;
    font-family: Helvetica, sans-serif;
}
.container {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: stretch;
}